<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="images128Path" value="D:\Dysk Google\studia\uczelnia\4 semestr\pwsz\Memo\MemoryGame\animals128" />
  </appSettings>
</configuration>